:root {
    --cinza-claro: #404756;
    --cinza-escuro: #23272f;
    --azul-claro: #58C4DC;
    --preto: #000;
    --branco: #FFF;

}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body, input, textarea, button {
    font-family: "Tektur", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-optical-sizing: auto;
}







