.gridConteiner {
    background-color: black;
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 75px 1fr 30px;
    grid-template-areas: 
        'cabecalho cabecalho'
        'lateral principal'
        'rodape rodape';
}

header {
    grid-area: cabecalho;
}

aside {
    grid-area: lateral;
}

main {
    grid-area: principal;
}

footer {
    grid-area: rodape;
}