/* 
#D5573B
#885053
#777DA7
#94C9A9
#C6ECAE
 */


.button {
    color: #D5573B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 3px solid #777DA7;
    font-size: 2rem;
}