<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    <h1>testando aqui veir</h1>

    <ul>
        {% for tarefa in Tarefa%}
        
            <li>
                {{tarefa.descricao}} - {%if tarefa.status%} Concluída {%else%} Não concluída {%endif%}
            </li>
    </ul>

    <form action="{%url 'adicionar_tarefa'%}" method="post">
        {% csrf_token %}
        <input type="text" name="descricao" placeholder="Nova tarefa" required>
        <button type="submit">Adicionar</button>
    </form>
        {% endfor %}
</body>
</html>