.conteiner {
    background-color: rgb(83, 83, 83);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    
}

.texto {
    color: white;
    
}

