.conteiner {
   display: flex;
    background-color: rgb(0, 0, 0);
    align-items: center;
    width: 200px;
    height: 150px;
    padding-left: 40px;
}

.valor{
    display: flex;
    justify-content: center;
    color: white;
}



.conteinerBotoes {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
}
.titulo {
   
    font-size: 1rem;
    margin-bottom: 10px;
}

.subtrair {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin: 0px 10px;
   

}

.somar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin: 0px 10px;
    border-radius: 50%;
}