.conteiner {
    background-color: white;
    
}

.texto{
    font-size: 1rem;
}


.conteinerUsuario {
    height: 400px;
}

.fotoUsuario{
    width: 100%;
}

.nomeUsuario {
    color: var(--azul-claro);
}

.conteinerBotoes{
    padding-left: 15px;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    transition: color 0.1 background-color 0.1;
    background-color: var(--cinza-claro);
    gap: 10px;
    border-radius: 10px;
}

.botao:hover{
    background-color: var(--cinza-escuro);
    color: var(--branco);
}




